<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style type="text/css">
        @font-face {
            font-family: "shaonv";
            src: url("../../static/font/shaonv.ttf");
        }
        @font-face {
            font-family: "xiaodanchun";
            src: url("../../static/font/xiaodanchun.ttf");
        }
        @font-face {
            font-family: "xionghaizi";
            src: url("../../static/font/xionghaizi.ttf");
        }
    </style>
</head>
<body>
    <div style="font-family:'shaonv' ">
        0123456789日月年喵呜~喵帕斯~！目录文章作者信息日期归类标签(゜-゜)つロ 干杯~
        在本人勤(lǎn)奋(duò)的努力下，
        本站以每天(梦里)更新数个功能的光速成功发布啦！(撒花撒花~)
        大家有虾米新的功能点子或者布局点子，欢迎来骚扰帅气的我！
        (虽然你说了我也不一定会改雾~)
        ԅ(¯﹃¯ԅ)客官请进密码找回反馈这是什么！不要乱写鸭！介么短的密码是肿么被放进来的！哼！竟然不给我联系方式！
        密码中肿么可能有空格！您确定您的密码有辣么辣么长吗！请告诉我你的名字叭不能不能没有密码鸭！验证码都不写！空手套白狼吗！
        竟然拿注册过的手机号糊弄我！哼！瞎输一个可是糊弄不过我的鸭！您的名字中不能含有空格的哟~
        您的名字好长好长鸭，请控制在10个字符内！姓名性别生日邮箱个人简介我知道你有很多话想偷偷对我说啦，嘻嘻嘻，叭要着急，慢慢来鸭~
        头像更换回复鸭碎碎念乱折腾最后
    </div>
    <div style="font-family:'xiaodanchun' ">
        0123456789日月年如果你自己都放弃自己了，还有谁会救你？扣扣~：微信xy分享到哼，不登录就想对我指指点点，白嫖吗！
        #楼:-博客更新日志❤ 欢迎大家来留言鸭，有任何事情都可以说哦~
        ❤ 博客的问题，意见与想法，都可以和我交流~
        ❤ emm……（想了想，貌似麻油什么可以说的嘞...）
        ❤ 哦对了！互换友链或者项目合作（估计也没人叭）请直接戳右边的扣扣~
        ❤ 耶！就这样(〃∀〃)~文章反馈头像更换昵称手机姓名性别生日邮箱个人简介验证码新密码确认密码回复
    </div>
    <div style="font-family:'xionghaizi' ">
        0123456789日月年Seaguller的小窝~>>心情窗程序录嘤嘤嘤~博客小站终于开张啦！（兴奋的打滚ing...）一起来享受音乐吧~
        友谊的小船坚固无比手机密码昵称验证码新确认目前还没有人发表看法呢(｡ŏ_ŏ)~目前麻油任何人回复您的评论鸭~目前您没有写任何文章鸭~目前您没有收到任何反馈鸭~
        目前麻油任何人回复您的评论鸭~
    </div>
</body>
</html>