@font-face {
    font-family: "shaonv";
    src: url('https://seaguller.oss-cn-beijing.aliyuncs.com/static/font/shaonv.ttf');
}
@font-face {
    font-family: "xiaodanchun";
    src: url('https://seaguller.oss-cn-beijing.aliyuncs.com/static/font/xiaodanchun.ttf');
}
@font-face {
    font-family: "xionghaizi";
    src: url('https://seaguller.oss-cn-beijing.aliyuncs.com/static/font/xionghaizi.ttf');
}

.aboutMe-list {
    position: absolute;
    top: 650px;
    left: 32.9%;
}
    .aboutMe-title-text {
        font-family: shaonv;
        font-size: 2.6vw;
        color: aquamarine;
        margin-left: -9%;
        font-weight: bold;
    }
    .am-icon-hand-o-right {
        position: absolute;
        left: 14.25%;
    }
    .aboutMe-main-text {
        font-size: 1.172vw;
        width: 37.891vw;
        text-indent: 2em;
        margin-left: -20px;
    }
    .aboutMe-main-img {
        margin-left: 14.6%;
    }
    .aboutMe-main-img2 {
        width: 19.195vw;
        margin-left: 22%;
        margin-top: -22px;
    }
    .aboutMe-main-img3 {
        width: 22.888vw;
        margin-left: 19.8%;
    }

    .text-star {
        position: absolute;
        left: -80px;
    }
    .aboutMe-main-text-like {
        color: lightskyblue;
    }

#aboutMe-title-img {
    width: 36.2vw;
}
#aboutMe-title-img-first {
    width: 27.195vw;
}
#aboutMe-title-img-second {
    width: 28.378vw;
}
#aboutMe-title-img-third {
    width: 29.37vw;
}

@media screen and (max-device-width: 700px) {
    .aboutMe-list {
        left: unset;
        top: unset;
        margin-top: 50%;
    }
    #aboutMe-title-img {
        width: 100%;
    }
    .am-icon-hand-o-right {
        left: unset;
    }
    .aboutMe-title-text {
        font-size: 8vw;
        margin-left: 4%;
    }
    .aboutMe-title-text div {
        margin-left: 10%;
    }
    .aboutMe-main-text {
        font-size: 4.5vw;
        width: 90%;
        margin-left: 20px;
    }
    .aboutMe-main-img, .aboutMe-main-img2, .aboutMe-main-img3 {
        margin-left: unset;
        width: 100% !important;
    }

    .footer {
        position: relative;
        margin-top: 1280%;
    }
}
