@font-face {
    font-family: "shaonv";
    src: url('https://seaguller.oss-cn-beijing.aliyuncs.com/static/font/shaonv.ttf');
}
@font-face {
    font-family: "xiaodanchun";
    src: url('https://seaguller.oss-cn-beijing.aliyuncs.com/static/font/xiaodanchun.ttf');
}
@font-face {
    font-family: "xionghaizi";
    src: url('https://seaguller.oss-cn-beijing.aliyuncs.com/static/font/xionghaizi.ttf');
}

.admin-title {
    font-size: 30px;
    font-family: "xiaodanchun";
    color: skyblue;
    margin-left: 50px;
    margin-top: 20px;
}

.admin-list {
    margin-left: 50px;
}
.admin-article-title {
    font-size: 18px;
    color: deepskyblue;
}
.admin-article-content {
    font-size: 17px;
    color: #999;
    margin-top: 3px;
    width: 49.48vw;
}
.admin-article-bottom {
    font-size: 16px;
    color: gray;
    margin-top: 10px;
}
.admin-article-split {
    font-size: 18px;
    color: #e0e0e0;
    margin-left: 8px;
    margin-right: 8px;
}
.admin-article-count {
    color: #3399ea;
}
.admin-article-button {
    float: right;
    margin-right: 100px;

    border: 1px solid skyblue;
    color: skyblue;
    padding: 1px 15px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    line-height: 2;

    background-color: transparent;
}
.admin-article-button:hover {
    background-color: skyblue;
    color: white;
}
.admin-article-button:focus {
    color: skyblue;
    outline: none;
}

.admin-contact-a:hover {
    color: deepskyblue;
    cursor: auto;
}

/* 友链 */
.admin-friend-table tr {
    height: 50px;
}
.admin-friend-table tbody td {
    display: table-cell;
    vertical-align: middle !important;
}
.admin-friend-tr {
    color: cornflowerblue;
    font-size: 1.2vw;
}

.admin-friend-table {
    width: 98%;
    margin-left: -2%;
}
.admin-friend-update {
    cursor: pointer;
}
.admin-friend-prompt-body {
    text-align: left;
    margin-left: 10%;
    color: cornflowerblue;
    font-size: 1.3vw;
}

.admin-friend-button-add {
    margin-left: -20%;
}
.admin-friend-button-delete {
    margin-right: 2%;
}
.admin-friend-button {
    margin-right: 5% !important;
    margin-top: 3% !important;
}
.admin-friend-button-danger {
    border: 1px solid deeppink !important;
    color: deeppink !important;
}
.admin-friend-button-danger:hover {
    background-color: deeppink !important;
    color: white !important;
}
.admin-friend-button-danger:focus {
    color: deeppink !important;
}
