@font-face {
    font-family: "shaonv";
    src: url('https://seaguller.oss-cn-beijing.aliyuncs.com/static/font/shaonv.ttf');
}
@font-face {
    font-family: "xiaodanchun";
    src: url('https://seaguller.oss-cn-beijing.aliyuncs.com/static/font/xiaodanchun.ttf');
}
@font-face {
    font-family: "xionghaizi";
    src: url('https://seaguller.oss-cn-beijing.aliyuncs.com/static/font/xionghaizi.ttf');
}

.events_list {
    margin-top: 640px;
}

.am-list>li>a {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    font-size: 1.47vw;
    list-style-type:none;
    width:100%;
    font-family: "xionghaizi";
    color: lightskyblue;
}

#art-list {
    position: absolute;
    left: 26.3%;
    top: 690px;
    padding: 15px 0;
    width: 46.4vw;
    height: auto;
}

.am-icon-calendar {
    margin-right: 20px;
}
.am-icon-calendar, .am-icon-calendar a {
    color: lightslategray;
}
.am-icon-folder, .am-icon-folder a {
    color: lightslategray;
}
.am-icon-tags, .am-icon-tags a {
    color: cornflowerblue;
}
.events-body {
    text-align: center;
}
.events-header:hover {
    color: deepskyblue;
    text-decoration: underline;
}
.VivaTimeline dl dt {
    font-family: cursive;
    font-size: 1.35vw;
}
.container {
    margin-top: 30px;
}
.container-before-icon {
    position: absolute;
    margin-left: 22.04vw;
    color: lightcoral;
    font-size: 0.978vw;
}
.VivaTimeline dl dd .events .events-header {
    font-size: 1.05vw !important;
}

/* 翻页 */
.article-pagination {
    padding-bottom: 2.125rem;
    margin-bottom: 2rem;
}
.next {
    float: right;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 5px 6px 14px rgba(52.94%, 80.78%, 95.16%, 0.5);
    transition-property: box-shadow,background-color,-webkit-box-shadow;
    transition-duration: .2s;
    background-color: #97dffd;
    color: #fff;
    font-weight: 600;
    padding: 10px 40px;
    font-size: 2rem;
    line-height: 1;
    margin-top: 80px;
}
.next:hover {
    background-color: #97dffd;
    box-shadow: 4px 6px 24px 0 #97dffd;
    text-decoration: none;
    color: white;
}
.next:visited {
    color: white;
}

.prev {
    float: right;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 5px 6px 14px rgba(255,192,203,0.5);
    transition-property: box-shadow,background-color,-webkit-box-shadow;
    transition-duration: .2s;
    background-color: pink;
    color: white;
    font-weight: 600;
    padding: 10px 40px;
    font-size: 2rem;
    line-height: 1;
    margin-top: 80px;
    margin-right: 433px;
}
.prev:hover {
    background-color: pink;
    box-shadow: 4px 6px 24px 0 pink;
    text-decoration: none;
    color: white;
}
.prev:visited {
    color: white;
}

#main-right-text {
    height: auto;
    max-height: 361px;
}

#events-body-create-time {
    cursor: auto;
}

.main-right-text-overflow {
    height: auto;
    max-height: 361px;
    overflow-y: auto;
}

/* 手机 */
@media screen and (max-device-width: 700px) {
    #art-list {
        left: unset;
        top: unset;
        margin-top: 50%;
        width: 100%;
    }
    .container-before-icon {
        font-size: 3vw;
        margin-left: 10.5%;
    }
    .container {
        margin-top: 6vh;
        margin-left: 6%;
    }
    .VivaTimeline dl:before {
        left: 14vw !important;
    }
    .VivaTimeline dl dt {
        margin: 0 4vw 30px !important;
    }
    .VivaTimeline dl dt {
        width: 20vw;
        font-size: 3.3vw;
        top: 2vh;
    }
    .VivaTimeline dl dd .circ {
        left: 19% !important;
    }
    .VivaTimeline dl dd .time {
        margin-left: -2vw !important;
        font-size: 3vw;
    }
    .events {
        font-size: 2.7vw;
    }
    .VivaTimeline dl dd .events .events-header {
        font-size: 3vw !important;
    }
    .footer {
        display: none;
    }
    .VivaTimeline dl dd.pos-right .events, .VivaTimeline dl dd.pos-left .events {
        width: 73% !important;
    }
}