/* 标题+下划线 */
.main-middle-article {
    text-align: center;
}
.article-title {
    margin-top: 15px;
}
.article-title-link {
    font-size: 25px;
    font-weight: 700;
    position: relative;
    color: #555;
    border-bottom: none;
    line-height: 1.2;
    vertical-align: top;
}
.article-title-link:visited {
    font-size: 25px;
    font-weight: 700;
    position: relative;
    color: #555;
    border-bottom: none;
    line-height: 1.2;
    vertical-align: top;
}
.article-title .article-title-link:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
.article-title .article-title-link:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}
.article-title .article-title-link:hover {
    color: #444;
}
.article-badge {
    position: absolute;
    left: -16px;
    top: 105px;
    border-color: #47456d;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    background-color: #97dffd;
    margin: 5px 0 15px 2px;
    font-size: 14px;
    border-radius: 0 4px 4px 0;
    display: inline-block;
    padding: 7px 11px 7px 32px;
    line-height: 1;
}
.article-badge:after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    border-top: 0 solid transparent;
    border-right-width: 1em;
    border-right-color: inherit;
    border-right-style: solid;
    border-bottom: 1em solid transparent;
    border-left: 0 solid transparent;
    width: 0;
    height: 0;
}
.badge-a {
    color: white;
}
.badge-a:hover {
    color: white;
}
.badge-a:visited {
    color: white;
}
.article-meta {
    width: 100%;
}
.am-icon-calendar {
    color: #00a7e0;
    margin-left: -12px;
}
.meta-calendar-text {
    color: #00a7e0;
}
.am-icon-eye {
    color: lightcoral;
}
.meta-eye-text {
    margin-right: -5px;
    color: lightcoral;
}

.meta-text {
    margin-right: 27px;
    margin-left: 5px
}
.article-button {
   /* margin-top: 150px;*/
}
.article-btn {
    background: #97dffd;
    color: #fff;
    font-size: 13px;
    padding: 1px 15px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    line-height: 2;
}
.article-btn:hover {
    background-color: slateblue;
    color: #fff;
}
.article-content {
    width: 610px;
    height:90px;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 50px;
    font-size: 15px;
    text-align: left;
    text-indent: 2em;
}
.article-pagination {
    padding-bottom: 2.125rem;
    margin-bottom: 2rem;
}
.next {
    float: right;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 5px 6px 14px rgba(52.94%, 80.78%, 95.16%, 0.5);
    transition-property: box-shadow,background-color,-webkit-box-shadow;
    transition-duration: .2s;
    background-color: #97dffd;
    color: #fff;
    font-weight: 600;
    padding: 10px 40px;
    font-size: 2rem;
    line-height: 1;
    margin-top: 80px;
}
.next:hover {
    background-color: #97dffd;
    box-shadow: 4px 6px 24px 0 #97dffd;
    text-decoration: none;
    color: white;
}
.next:visited {
    color: white;
}

.prev {
    float: right;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 5px 6px 14px rgba(255,192,203,0.5);
    transition-property: box-shadow,background-color,-webkit-box-shadow;
    transition-duration: .2s;
    background-color: pink;
    color: white;
    font-weight: 600;
    padding: 10px 40px;
    font-size: 2rem;
    line-height: 1;
    margin-top: 80px;
    margin-right: 431px;
}
.prev:hover {
    background-color: pink;
    box-shadow: 4px 6px 24px 0 pink;
    text-decoration: none;
    color: white;
}
.prev:visited {
    color: white;
}

.am-icon-tags-aa {
    color: black;
}
.am-icon-tags-aa:visited {
    color: black;
}
.am-icon-tags-aa:hover {
    color: mediumpurple;
}

/* 目录 */
.right-catalog {
    display: inline-block;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    font-size: 17px;
    color: #555;
    list-style-type:none;
    width:100%;
    margin-left: 44px;
    font-family: "shaonv";
}
.right-catalog li {
    float:left;
}
.right-catalog li:hover {
    color: #fc6423;
}
.right-catalog-user {
    margin-left: 30px;
}
.right-catalog-style {
    color: #fc6423;
    border-bottom-color: #fc6423;
    text-decoration:underline #fc6423;
}

