@font-face {
    font-family: "shaonv";
    src: url('../font/shaonv.ttf');
}
@font-face {
    font-family: "xiaodanchun";
    src: url('../font/xiaodanchun.ttf');
}
@font-face {
    font-family: "xionghaizi";
    src: url('../font/xionghaizi.ttf');
}

#msg-btn {
    margin-left: 30px;
    outline: none;
}

.group-getTest {
    top: 190px !important;
    left: 620px !important;
}
#registerFormBtn {
    margin-left: 250px;
}