@font-face {
    font-family: "shaonv";
    src: url('https://seaguller.oss-cn-beijing.aliyuncs.com/static/font/shaonv.ttf');
}
@font-face {
    font-family: "xiaodanchun";
    src: url('https://seaguller.oss-cn-beijing.aliyuncs.com/static/font/xiaodanchun.ttf');
}
@font-face {
    font-family: "xionghaizi";
    src: url('https://seaguller.oss-cn-beijing.aliyuncs.com/static/font/xionghaizi.ttf');
}

#msg-btn {
    margin-left: 30px;
    outline: none;
}

.group-getTest {
    top: 190px !important;
    left: 620px !important;
}
#registerFormBtn {
    margin-left: 30%;
}

/* 手机 */
@media screen and (max-device-width: 700px) {
    .register-title-line, #art-list form {
        margin-left: 20% !important;
    }
    .group-getTest {
        top: unset !important;
        left: 70% !important;
        position: relative !important;
    }
    #registerFormBtn {
        margin-left: 45% !important;
    }

    .footer {
        top: 830px !important;
        position: relative;
    }
}