body {
    font-size: 14px;
    cursor: url(../cursor/rain.cur),url(../cursor/rain.gif),auto;

}
#header-text {
    position: absolute;
    margin-left: -150px;
    font-family: "xionghaizi";
    font-size: 30px;
    margin-top: -5px;
}
#header-text:hover {
    animation: fanzhuan 1s forwards;
    text-decoration:none;
}
a:hover {
    cursor: url(../cursor/link.ani),url(../cursor/link.gif),auto;
}
#live2d {
    margin-left: -30px;
}

#turn-head {
    position: absolute;
    width: 100px;
    top: 600px;
}
/* 标题栏随滚动隐藏 */
.animated {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
.slideUp {top: -100px;}
.slideDown {top: 0;}

/* 首页大图的定位 */
#table-picture {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 649.5px;
    width: 100%;
    background-size: 100%;
}
#header-a-main-one {
    margin-left: 130px;
}
/* 标题栏间隔 */
.header-a-main {
    margin-right: 20px;

}

/* 标题栏字体的高度 */
.am-topbar-inverse .am-topbar-nav>li>a {
    line-height: 40px;
}

/* 小三角颜色 */
.am-topbar-inverse .am-topbar-nav>li>a:after {
    border-bottom-color: white;
}
.am-topbar-inverse .am-topbar-nav>li>a:focus:after, .am-topbar-inverse .am-topbar-nav>li>a:hover:after {
    border-bottom-color: white;
}

/* 小三角的形状和位置 */
.am-topbar-nav>li>a:after {
    bottom: 0;
    border-bottom: 6px solid #f8f8f8;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

/* 标题栏字体选中后的背景色 */
.am-topbar-inverse .am-topbar-nav>li>a:focus, .am-topbar-inverse .am-topbar-nav>li>a:hover {
    background: rgba(255, 255, 255, .15);
}

/* 整个标题栏的设置 */
header.am-topbar.am-topbar-inverse.am-topbar-fixed-top {
    height: 1px;
    background: rgba(40,42,44,.6);
    min-height: 40px;
    border-color: rgba(40,42,44,.0);
}

/* 图片中间字体设置 */
@font-face {
    font-family: "shaonv";
    src: url('../font/shaonv.ttf');
}
@font-face {
    font-family: "xiaodanchun";
    src: url('../font/xiaodanchun.ttf');
}
@font-face {
    font-family: "xionghaizi";
    src: url('../font/xionghaizi.ttf');
}
.head-picture-font {
    position: absolute;
    top: 340px;
    left: 60px;
    margin-left: 302px;
    margin-top: -12px;


    display: table;
    height: auto;

    color: white;
    -webkit-text-stroke: 1px white;
    text-transform: uppercase;
    text-align: center;

    font-size: 120px;
    font-family: "shaonv";
    font-weight: 800;

    letter-spacing: -0.02em;
    line-height: 1.2em;
    text-shadow: 2px 2px 0 #ff3f1a, -1px -1px 0 #00a7e0;
}
.head-picture-font:hover {
    color: white;
    opacity: 0.5;
}

/* 图片旋转特效 */
.head-sculpture {
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -65px;
    top: 175px;
    width: 130px;
    height: 130px;
    background: no-repeat url(../img/header.jpg) left top;
    background-size: 100%;
    webkit-background-size: 220px 220px;
    moz-background-size: 220px 220px;
    -webkit-border-radius: 110px;
    border-radius: 110px;
    -webkit-transition: -webkit-transform 2s ease-out;
    -moz-transition: -moz-transform 2s ease-out;
    -o-transition: -o-transform 2s ease-out;
    -ms-transition: -ms-transform 2s ease-out;

    border-top:7px double cyan;
    border-left:7px double yellow;
    border-right:7px double hotpink;
    border-bottom:7px double greenyellow;
}
.head-sculpture:hover {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}

/* 猫耳朵嘤嘤嘤 */
.header-img-one {
    position: absolute;
    left: 50%;
    margin-left: -60px;
    top: -48px;
    width: 120px;
}

/* 随页面滚动的小面板 */
.main-right {
    position: absolute;
    left: 1135px;
    top: 690px;
    padding: 15px 0;
    box-shadow: 0px 0px  10px 0.5px #aaa;
    border:1px solid #BFBFBF;
    width: 315px;
    height: auto;
}
/* 标签云（未完成） */
.main-right-down {
    position: absolute;
    left: 1100px;
    top: 1040px;
    padding: 15px 0;
    box-shadow: 0px 0px  10px 0.5px #aaa;
    border:1px solid #BFBFBF;
    width: 315px;
    height: 330px;

    display: none;
}
.main-middle {
    position: absolute;
    left: 399px;
    top: 690px;
    padding: 15px 0;
    box-shadow: 0px 0px  10px 0.5px #aaa;
    border:1px solid #BFBFBF;
    width: 713px;
    height: 330px;

    background-color: transparent;
}
/*#main-middle-2 {
    top: 1045px;
}*/
.main-left-double {
    position: absolute;
    left: 60px;
    top: 690px;
    padding: 15px 0;
    box-shadow: 0px 0px 10px 0.5px #aaa;
    border: 1px solid #BFBFBF;
    width: 315px;
    height: 200px;
    background: rgba(255,250,240,0.5);
    text-align: center;
}
.main-left {
    position: absolute;
    left: 60px;
    top: 920px;
    padding: 15px 0;
    box-shadow: 0px 0px  10px 0.5px #aaa;
    border:1px solid #BFBFBF;
    width: 315px;
    height: 420px;
    background: rgba(52.94%, 80.78%, 95.16%, 0.5);
    text-align: center;
}
.main-left-text {
    letter-spacing: 1px;
    font-size: 15px;
    color: lightslategrey;
}
#left-pp {
    margin-top: 20px;
}
#left-pp-last {
    float: right;
    margin-right: 20px;
}
.fa-quote-left {
    margin-left: 10px;
    color: grey;
}
.fa-quote-right {
    margin-top: 80px;
    margin-right: -130px;
    color: grey;
}
.main-left-last-text {
    letter-spacing: 1px;
    margin-top: 130px;
    font-size: 18px;
    color: lightslategrey;
    font-weight: 700;
}
#main-left-last-text-one {
    margin-left: -60px;
    margin-bottom: 5px;
}
#main-left-last-text-two {
    margin-left: 80px;
}
/* 名片上面的区域 */
.card-head {
    height: 150px;
}
/* 名片上面的头像 */
.card-my-head {
    margin-left: 20px;
    margin-top: 10px;
    height: 150px;
}
.card-head-left-img {
    float: left;
}
#head-card-img {
    width: 120px;
    border-top:7px double cyan;
    border-left:7px double yellow;
    border-right:7px double hotpink;
    border-bottom:7px double greenyellow;
}
/* 头像右边的文字 */
.card-head-right-word {
    margin-left: 135px;
}
#head-card-right-h {
    position: absolute;
    margin-top: -10px;
    font-family: "xionghaizi";
    font-size: 30px;
}
/* 名字下面的文字 */
.card-head-right-writing {
    font-family: "xiaodanchun";
    font-size: 17px;
    color: #aaaaaa;
    position: absolute;
    margin-top: 39px;
}
/* 名片中间 */
.card-middle {
    margin-top: -15px;
    font-size: 20px;
    text-align: center;
    margin-left: 20px;
    line-height: 1.6em;
    font-family: "xiaodanchun";
    color: #009688;
}
#hr-one {
    margin-top: 30px;
    border-top: 1px solid #eee;
}
#card-icons-one {
    margin-left: 20px;
}
.card-icons {
    font-size: 20px;
    text-align: center;
    padding: 0 !important;
    margin-left: 16px;
}
.am-nav>li>a:focus, .am-nav>li>a:hover {
    background-color: transparent;
}
.fa-github {
    border-radius:50%;
    width: 40px;
    height: 40px;
    padding-top: 9px;
    color: black;
    border: 1px solid black;
}
.fa-weixin {
    border-radius:50%;
    width: 40px;
    height: 40px;
    padding-top: 9px;
    color: #248a34;
    border: 1px solid #248a34;
}
.fa-gg {
    border-radius:50%;
    width: 40px;
    height: 40px;
    padding-top: 9px;
    color: orange;
    border: 1px solid orange;;
}
.fa-qq {
    border-radius:50%;
    width: 40px;
    height: 40px;
    padding-top: 9px;
    color: #2894FF;
    border: 1px solid #2894FF;
}
.fa-weibo {
    border-radius:50%;
    width: 40px;
    height: 40px;
    padding-top: 9px;
    color: red;
    border: 1px solid red;
}
.fa-weixin img {
    display: none;
}
/* 图标翻转特效 */
.fa:hover {
    animation: fanzhuan 1s forwards;
}
@keyframes fanzhuan {
    0% {
        transform: none;
        filter: none;
    }
    100% {
        transform: rotateY(360deg);
        filter: sepia(1) saturate(90) hue-rotate(285deg);
    }
}
.card-weixin-divout {
    width:150px;
    height:150px;
    border:1px solid silver;
    border-radius:8px;
    position: absolute;
    top: 323px;
    left: 144px;
    display: none;
    background-color: #eeeeee;
}
.card-weixin-divin {
    width:10px;
    height:10px;
    border:1px solid silver;
    position:relative;
    left:50%;
    margin-left: -5px;
    top:-7px;
    transform:rotate(45deg);
    background-color:#eeeeee;
    border-right:0px;
    border-bottom:0px;
    display: none;
}
#weixin-img {
    position: absolute;
    left: -14px;
    top: -12px;
}

#li-login {
    position: absolute;
    margin-left: 950px;
    font-size: 23px;
    font-family: "xiaodanchun";
}
#header-a-main-login {
    color: lightblue;
}

.footer {
    padding: 15px 0 10px;
    text-align: center;
    color: black;
    font-size: 15px;
    line-height: 1.5;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 130px;

    color: cornflowerblue;
}

.login-button-head {
    position: absolute !important;
    margin-left: 155px;
}
.login-button {
    background-color: transparent;
    border-radius: 50% !important;
    border-color: rgba(255, 250, 240, 1);

    width: 35px;
    height: 35px;
    font-size: 17px;
    padding: unset !important;
    margin-top: 3px;
}
.login-icon {
    color: rgba(255, 250, 240, 1);
}
.login-content {
    min-width: auto !important;
    left: -53px;
}
.login-content:after, .login-content:before {
    left: 62px !important;
}
.login-content-b:after, .login-content-b:before {
    left: auto !important;
    right: 10px;
}
.login-content-a {
    padding: 6px 40px !important;
}

.private-conversation {
    height: 100px;
}
.private-conversation-two {
    height: 30px;
}
.am-modal-hd {
    font-family: "shaonv";
    font-size: 20px;
    color: lightskyblue;
}
.am-modal-bd {
    font-family: "shaonv";
    font-size: 17px;
}

#log-hr {
    margin-top: 4px;
    margin-bottom: 1px;
}

#login-sign-name {
    border: none;
    font-family: "shaonv";
    color: lavender;
    background-color: transparent;
    height: 35px;
    font-size: 17px;
    margin-top: 3px;
    margin-left: -60px;
}
#login-content-ul {
    left: auto !important;
    right: 0;
    border: none;
    margin-right: 3.5px;
}

#login-button-circle {
    background-color: transparent;
    border-radius: 50% !important;
    border-color: rgba(255, 250, 240, 1);

    width: 35px;
    height: 35px;
    font-size: 17px;
    padding: unset !important;
    margin-top: 3px;
    margin-left: 50px;
}
#login-button-circle:hover {
    color: lavender;
}
#login-button-circle:focus {
    color: lavender;
    outline: none;
}


