.message-list {
    position: absolute;
    top: 650px;
    left: 32.9%;
}
#message-title-img {
    width: 39.1vw;
    margin-left: -6%;
}
#message-title-text {
    font-family: "xiaodanchun";
    font-size: 1.305vw;
    margin-left: -7.5%;
    color: dimgray;
    margin-top: 50px;
}
.message-title-text-about {
    margin-top: 10px;
}

.article-comment {
    top: 1270px;
}

.article-comment-line {
    left: 63px !important;
    width: 92% !important;
}
