#aplayer {
    width: 440px;

    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 15px;

    z-index: 1;
}

.music-table {
    position: absolute;
    margin-top: 710px;
    margin-left: 26.32%;
    width: 46.6vw;

    z-index: 0;
}

.music-play {
    margin-left: 10px;
    cursor: pointer;
}

tr {
    height: 50px;
}

.music-title {
    position: absolute;
    margin-top: 650px;
    width: 23.44vw;
    text-align: center;
    margin-left: 36.85%;
    font-size: 1.96vw;
    font-family: "xionghaizi";

    color: darkturquoise;
}

.aplayer-list {
    overflow-y: auto !important;
    height: 133px;
}

thead {
    font-family: "xiaodanchun";
    font-size: 20px;
}
