#aplayer {
    width: 440px;

    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 15px;

    z-index: 1;
}

.music-table {
    position: absolute;
    margin-top: 710px;
    margin-left: 26.32%;
    width: 46.6vw;

    z-index: 0;
}

.music-play {
    margin-left: 10px;
    cursor: pointer;
}

tr {
    height: 50px;
}

.music-title {
    position: absolute;
    margin-top: 650px;
    width: 23.44vw;
    text-align: center;
    margin-left: 36.85%;
    font-size: 1.96vw;
    font-family: "xionghaizi";

    color: darkturquoise;
}

.aplayer-list {
    overflow-y: auto !important;
    height: 133px;
}

thead {
    font-family: "xiaodanchun";
    font-size: 20px;
}

/* 手机 */
@media screen and (max-device-width: 700px) {
    .music-title {
        margin-top: 50%;
        width: 90vw;
        text-align: center;
         margin-left: 3%;
        font-size: 7vw;
    }
    .music-table {
        margin-top: 70%;
        width: 100%;
        margin-left: unset;
    }
    .footer {
        top: 700px !important;
        position: relative;
    }
    #aplayer {
        margin-right: unset;
        width: 98%;
    }
    thead {
        font-family: unset;
        font-size: 5vw;
    }
    tbody {
        font-size: 3vw;
    }
    .music-table .am-table thead tr th {
        width: 3% !important;
    }
}