<!DOCTYPE html>
<!--[if IE 7]><html class="ie7" lang="zh"><![endif]-->
<!--[if gt IE 7]><!-->
<html lang="zh">
<!--<![endif]-->
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>大气的jQuery树型时间轴特效 - 站长素材</title>
<link href="../static/timeArchive/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="content">
  <div class="wrapper">
    <div class="light"><i></i></div>
    <hr class="line-left">
    <hr class="line-right">
    <div class="main">
      <h1 class="title">2014年10月</h1>
      <div class="year">
        <h2></h2>
        <div class="list">
          <ul>
            <li class="cls highlight">
              <p class="date">3月26日</p>
              <p class="intro">微俱聚硬件微美图正式推出</p>
              <p class="version">&nbsp;</p>
              <div class="more">
                <p>首创微信集商务、娱乐一体化多媒体智能终端机微美图打印机</p>
                <p>营销推广活动支持导入SN码</p>
              </div>
            </li>
            <li class="cls">
              <p class="date">3月19日</p>
              <p class="intro">全新会员卡3.0、微官网3.0、微商城2.0上线，渠道统计模块上线！</p>
              <p class="version">&nbsp;</p>
              <div class="more">
                <p>会员卡手机端会员卡页面全部改版，给用户更时尚大方的体验</p>
                <p>会员卡完全自定义会员用户信息</p>
              </div>
            </li>
            <li class="cls">
              <p class="date">3月12日</p>
              <p class="intro">首家支持微信支付，多客服系统上线！</p>
              <p class="version">&nbsp;</p>
              <div class="more">
                <p>为公众账号的微信支付提供技术接入，通过简单配置即可使用微信支付</p>
                <p>微信公众平台高级接口支持，通过认证的服务号可以使用多客服系统回复粉丝</p>
                <p>微商城首页添加多套模板，详情页支持模板自定义，商城购买商品支持微信支付；商城首页图片自适应等等十多个细节改进</p>
              </div>
            </li>
            <li class="cls">
              <p class="date">3月5日</p>
              <p class="intro">360全景隆重上线！</p>
              <p class="version">&nbsp;</p>
              <div class="more">
                <p>全新360全景模块上线，3D看房、3D看车、3D看实景，一网打尽</p>
                <p>微官网新增24套一级模板</p>
                <p>微官网提供全局颜色调色器</p>
              </div>
            </li>
            <li class="cls">
              <p class="date">2月26日</p>
              <p class="intro">微婚庆行业应用上线</p>
              <p class="version">&nbsp;</p>
              <div class="more">
                <p>提供更加友好的套餐价格</p>
                <p>提供经典案例，并可以二维码扫描</p>
                <p>提供更新日志，让您每周有惊喜</p>
              </div>
            </li>
            <li class="cls">
              <p class="date">2月19日</p>
              <p class="intro">微信墙(微信大屏幕)上线</p>
              <p class="version">&nbsp;</p>
              <div class="more">
                <p>支持上墙、抽奖、投票等等功能的微信墙上线</p>
                <p>修正一战到底等多个模块的13个Bug, 并提供7个新改进</p>
              </div>
            </li>
            <li class="cls">
              <p class="date">2月12日</p>
              <p class="intro">微贺卡上线</p>
              <p class="version"></p>
            </li>
            <li class="cls highlight">
              <p class="date">1月</p>
              <p class="intro">微俱聚V6.0上线</p>
              <p class="version">&nbsp;</p>
              <div class="more">
                <p>确立每周迭代、周三发布，用户参与推动模块开发的小米模式</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="../static/timeArchive/js/jquery.min.js"></script>
<script>
	$(".main .year .list").each(function (e, target) {
	    var $target=  $(target),
	        $ul = $target.find("ul");
	    $target.height($ul.outerHeight()), $ul.css("position", "absolute");
	}); 
	$(".main .year>h2>a").click(function (e) {
	    e.preventDefault();
	    $(this).parents(".year").toggleClass("close");
	});
	</script>
</body>
</html>
