<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>喵喵喵喵喵帕斯~~~~~！</title>
    <link href="https://cdn.bootcss.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet" >
    <link rel="stylesheet" href="http://dreamsky.github.io/main/blog/common/init.css">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <!-- 主页大图 -->
    <div ><img id="table-picture" src="../static/img/003.png"/></div>
    <!-- 标题栏 -->
    <div class="head-one">
            <header class="am-topbar am-topbar-inverse am-topbar-fixed-top">
                <div class="am-container">
                    <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse-4">
                        <ul class="am-nav am-nav-pills am-topbar-nav">
                            <li class="am-active">
                                <a href="#" class="header-a-main" id="header-a-main-one">
                                    <span class="am-icon-home">&nbsp;首&nbsp;&nbsp;页</span>
                                </a>
                            </li>
                            <li><a href="#" class="header-a-main"><span class="am-icon-archive">&nbsp;归&nbsp;&nbsp;档</span></a></li>
                            <li><a href="#" class="header-a-main"><span class="am-icon-calendar-plus-o">&nbsp;更&nbsp;&nbsp;新</span></a></li>
                            <li><a href="#" class="header-a-main"><span class="am-icon-music">&nbsp;音乐馆</span></a></li>
                            <li><a href="#" class="header-a-main"><span class="am-icon-pencil">&nbsp;留言板</span></a></li>
                            <li><a href="#" class="header-a-main"><span class="am-icon-mars">&nbsp;后&nbsp;&nbsp;宫</span></a></li>
                            <li><a href="#" class="header-a-main"><span class="am-icon-paper-plane-o">&nbsp;关于俺</span></a></li>

                        </ul>
                    </div>
                </div>
            </header>
    </div>
    <!-- 文字喵 -->
    <h1 id="headline" class="head-picture-font">喵&nbsp;呜~&nbsp;喵&nbsp;帕&nbsp;斯~！</h1>
    <!-- 旋转小陀螺头像 -->
    <div class="head-sculpture"><img src="../static/img/maoer.gif" class="header-img-one"/></div>
    <!-- 小名片（随页面滚动的哦） -->
    <div class="main-right">
        <div class="card-head">
            <div class="card-my-head">
                <div class="head-card-img-div">
                    <div class="card-head-left-img">
                        <img src="../static/img/123.png" id="head-card-img"/>
                    </div>
                </div>
                <div class="card-head-right-word">
                    <h1 id="head-card-right-h">Seaguller</h1>
                    <small class="card-head-right-writing">如果你自己都放弃自己了，还有谁会救你？</small>
                </div>
            </div>
        </div>
        <div class="card-middle">
            扣扣~：1656299466<br/>
            微信~：xy554322260
        </div>
        <hr id="hr-one"/>
        <div id="icons">
            <ul class="am-nav am-nav-pills">
                <li><a href="https://github.com/cn-stdio" class="card-icons"><i class="fa fa-github" title="活跃不起来滴小github~"></i></a></li>
                <li><a href="#" class="https://gitee.com/Seaguller"><i class="fa fa-gg" title="码码码码码云~"></i></a></li>
                <li><a href="#" class="card-icons"><i class="fa fa-qq" title="点击QQ联系俺~"></i></a></li>
                <li><a href="#" class="card-icons"><i class="fa fa-weixin" title="哇~似微信滴二维码耶！"></i></a></li>
                <li><a href="#" class="card-icons"><i class="fa fa-weibo" title="基本不碰的小微博~"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="main-middle">

    </div>
    <div class="main-left">

    </div>

    &nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script>
    <!-- 字体阴影特效 -->
    <script type="text/javascript" src="../static/js/shine.min.js"></script>
    <!-- 标题栏浮动隐藏JS -->
    <script type="text/javascript" src="https://npmcdn.com/headroom.js@0.9.3/dist/headroom.min.js"></script>
    <!-- 主页JS -->
    <script src="../static/js/main.js" type="text/javascript"></script>
</body>
</html>