<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seaguller的小窝~</title>
    <link href="https://cdn.bootcss.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://dreamsky.github.io/main/blog/common/init.css">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/live2d/css/waifu.css" />
    <link href="../static/css/article.css" rel="stylesheet"/>

    <link rel="stylesheet" href="../static/music/APlayer.min.css">
    <link type="text/css" href="../static/css/music.css" rel="stylesheet"/>
</head>
<body>
<div id="main-class-text">
    <!-- 主页大图 -->
    <div id="table-picture" style="background-image: url('../static/img/bk-10.jpg')"></div>
    <!-- 标题栏 -->
    <div class="head-one">
        <header class="am-topbar am-topbar-inverse am-topbar-fixed-top">
            <div class="am-container">
                <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse-4">
                    <ul class="am-nav am-nav-pills am-topbar-nav">
                        <a id="header-text" href="/">Seaguller的小窝~</a>
                        <li id="li-main">
                            <a href="/" class="header-a-main" id="header-a-main-one">
                                <span class="am-icon-home">&nbsp;首&nbsp;&nbsp;页</span>
                            </a>
                        </li>
                        <li id="li-archive"><a href="/archive" class="header-a-main" id="header-a-main-archive"><span class="am-icon-archive">&nbsp;归&nbsp;&nbsp;档</span></a></li>
                        <li id="li-update"><a href="/update" class="header-a-main" id="header-a-main-update"><span class="am-icon-calendar-plus-o">&nbsp;更&nbsp;&nbsp;新</span></a></li>
                        <li id="li-music" class="am-active" ><a href="/music" class="header-a-main" id="header-a-main-music"><span class="am-icon-music">&nbsp;音乐馆</span></a></li>
                        <li id="li-message"><a href="#turn-head" class="header-a-main" id="header-a-main-message"><span class="am-icon-pencil">&nbsp;留言板</span></a></li>
                        <li id="li-friends"><a href="#turn-head" class="header-a-main" id="header-a-main-friends"><span class="am-icon-mars">&nbsp;后&nbsp;&nbsp;宫</span></a></li>
                        <li id="li-aboutMe"><a href="#turn-head" class="header-a-main" id="header-a-main-aboutMe"><span class="am-icon-paper-plane-o">&nbsp;关于俺</span></a></li>

                        <li id="li-login"><a href="/login" class="header-a-main" id="header-a-main-login"><span class="am-icon-hand-paper-o">&nbsp;登陆&nbsp;</span><span class="am-icon-hand-paper-o"></span></a></li>
                    </ul>
                </div>
            </div>
        </header>
    </div>
    <!-- 文字喵 -->
    <h1 id="headline" class="head-picture-font" >喵&nbsp;呜~&nbsp;喵&nbsp;帕&nbsp;斯~！</h1>
    <!-- 旋转小陀螺头像 -->
    <div class="head-sculpture"><img src="../static/img/maoer.gif" class="header-img-one"/></div>
    <!-- 指定页面跳转位置 -->
    <div id="turn-head"></div>
    <!-- 小名片（随页面滚动的哦） -->
    <div class="main-right" id="main-right-div">

        <!-- 名片目录，点进文章的时候再加进去 -->
        <div id="right-catalog-div">
            <!--<ul class="right-catalog">
                <li class="right-catalog-article right-catalog-style">文章目录</li>
                <li class="right-catalog-user">作者信息</li>
            </ul>-->
        </div>

        <div id="main-right-text">
            <div class="card-head">
                <div class="card-my-head">
                    <div class="head-card-img-div">
                        <div class="card-head-left-img">
                            <img src="../static/img/header.jpg" id="head-card-img"/>
                        </div>
                    </div>
                    <div class="card-head-right-word">
                        <h1 id="head-card-right-h">Seaguller</h1>
                        <small class="card-head-right-writing">如果你自己都放弃自己了，还有谁会救你？</small>
                    </div>
                </div>
            </div>
            <div class="card-middle">
                扣扣~：1656299466<br/>
                微信~：xy554322260
            </div>
            <hr id="hr-one"/>
            <div id="icons">
                <ul class="am-nav am-nav-pills">
                    <li><a target="_blank" href="https://github.com/cn-stdio" class="card-icons"><i class="fa fa-github" title="活跃不起来滴小github~"></i></a></li>
                    <li><a target="_blank" href="https://gitee.com/Seaguller" class="card-icons"><i class="fa fa-gg" title="码码码码码云~"></i></a></li>
                    <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1656299466&site=qq&menu=yes" class="card-icons"><i class="fa fa-qq" title="点击QQ联系俺~"></i></a></li>
                    <li><a href="javascript:void(0);" class="card-icons"><i class="fa fa-weixin">
                    </i></a></li>
                    <li><a target="_blank" href="https://weibo.com/p/1005053269816883" class="card-icons"><i class="fa fa-weibo" title="基本不碰的小微博~"></i></a></li>
                </ul>
                <div class="card-weixin-divout">
                    <div class="card-weixin-divin"></div>
                    <img src="../static/img/weixin.gif" id="weixin-img"/>
                </div>
            </div>
        </div>

    </div>
    <!-- 标签云（未完成） -->
    <div class="main-right-down"></div>
    <!-- 主体内容 -->
    <div id="art-list">

        <div id="aplayer"></div>
        <div class="music-title">
            <span class="am-icon-music" style="margin-right: 20px;"></span>
            一起来享受音乐吧~
            <span class="am-icon-music" style="float: right;"></span>
        </div>
        <div class="music-table">
            <table class="am-table am-table-striped am-table-hover">
                <thead>
                    <tr>
                        <th style="width:1.8%">序号</th>
                        <th style="width:5%">歌曲</th>
                        <th style="width:3%">歌手</th>
                        <th style="width:3%">专辑</th>
                        <th style="width:4%">时长</th>
                        <th style="width:2%">试听</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="music-id-1">
                        <td>1</td>
                        <td>Lemon</td>
                        <td>米津玄师</td>
                        <td>Lemon</td>
                        <td>
                            <span class="am-icon-clock-o">&nbsp;&nbsp;4:15</span>
                        </td>
                        <td>
                            <span class="am-icon-play music-play" onclick="play(1)"></span>
                        </td>
                    </tr>
                    <tr id="music-id-2">
                        <td>2</td>
                        <td>ヒッチコック</td>
                        <td>ヨルシカ</td>
                        <td>負け犬にアンコールはいらない</td>
                        <td>
                            <span class="am-icon-clock-o">&nbsp;&nbsp;3:42</span>
                        </td>
                        <td>
                            <span class="am-icon-play music-play" onclick="play(2)"></span>
                        </td>
                    </tr>
                    <tr id="music-id-3">
                        <td>3</td>
                        <td>曾经我也想过一了百了</td>
                        <td>中岛美嘉</td>
                        <td>僕が死のうと思ったのは</td>
                        <td>
                            <span class="am-icon-clock-o">&nbsp;&nbsp;6:22</span>
                        </td>
                        <td>
                            <span class="am-icon-play music-play" onclick="play(3)"></span>
                        </td>
                    </tr>
                    <tr id="music-id-4">
                        <td>4</td>
                        <td>打上花火</td>
                        <td>米津玄师</td>
                        <td>打上花火</td>
                        <td>
                            <span class="am-icon-clock-o">&nbsp;&nbsp;4:49</span>
                        </td>
                        <td>
                            <span class="am-icon-play music-play" onclick="play(4)"></span>
                        </td>
                    </tr>
                    <tr id="music-id-5">
                        <td>5</td>
                        <td>PLANET</td>
                        <td>ラムジ</td>
                        <td>3ラムジ</td>
                        <td>
                            <span class="am-icon-clock-o">&nbsp;&nbsp;4:03</span>
                        </td>
                        <td>
                            <span class="am-icon-play music-play" onclick="play(5)"></span>
                        </td>
                    </tr>
                    <tr id="music-id-6">
                        <td>6</td>
                        <td>她曾活过啊</td>
                        <td>あいみょん</td>
                        <td>生きていたんだよな</td>
                        <td>
                            <span class="am-icon-clock-o">&nbsp;&nbsp;3:14</span>
                        </td>
                        <td>
                            <span class="am-icon-play music-play" onclick="play(6)"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="main-left">
        <i class="fa fa-quote-left" style="float: left"></i><br/>
        <div class="main-left-text">
            <p id="left-pp">你应该要学着做你自己</p>
            <p>面对真实的自我</p>
            <p>只要做到这一点</p>
            <p>你就什么都不用惧怕</p>
            <p id="left-pp-last">--- 《猫的报恩》</p>
        </div>
        <i class="fa fa-quote-right" style="float: right"></i>
        <div class="main-left-last-text">
            <div id="main-left-last-text-one">无论夜晚多么黑暗，</div>
            <div id="main-left-last-text-two">黎明总会如约而至。</div>
        </div>
    </div>
    <div class="waifu ">
        <div class="waifu-tips" style="opacity:0"></div>
        <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
    </div>

</div>
<footer id="footer" class="footer">
    <hr/>
    <div class="footer-inner">
        <p>嘀嗒~ 嘀嗒~ 破壳 1000天50时20分01秒</p>
        <p>© 2018-2019 Seaguller - <i class="fa fa-heart throb" style="color:#d43f57"></i> 高博宇 版权所有</p>
        <p>蜀ICP备18000229号</p>
    </div>
</footer>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script>
<!-- 字体阴影特效 -->
<script type="text/javascript" src="../static/js/shine.min.js"></script>
<!-- 标题栏浮动隐藏JS -->
<script type="text/javascript" src="https://npmcdn.com/headroom.js@0.9.3/dist/headroom.min.js"></script>
<!-- 主页JS -->
<script src="../static/js/main.js" type="text/javascript"></script>
<script src="../static/music/APlayer.min.js"></script>
<script src="../static/js/music.js" type="text/javascript"></script>
<!-- 背景线条 -->
<script type="text/javascript" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>　

<script type="text/javascript" src="../static/live2d/js/live2d.js"></script>
<script type="text/javascript" src="../static/live2d/js/waifu.js"></script>
<script type="text/javascript">
    loadlive2d("live2d", "../static/live2d/model/kesshouban/model.json");
</script>
<script type="text/javascript">
    /* 微信翻转 */
    $(".fa-weixin").mouseover(function () {
        $(".card-weixin-divout").css("display", "block");
        $(".card-weixin-divin").css("display", "block");
        $("#weixin-img").css("display", "block");
    });
    $(".fa-weixin").mouseout(function () {
        $(".card-weixin-divout").css("display", "none");
        $(".card-weixin-divin").css("display", "none");
        $("#weixin-img").css("display", "none");
    });
</script>
</body>
</html>