<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seaguller的小窝~</title>
    <link href="https://cdn.bootcss.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://dreamsky.github.io/main/blog/common/init.css">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/live2d/css/waifu.css" />
    <link href="../static/css/article.css" rel="stylesheet"/>

    <link href="../static/css/register.css" rel="stylesheet"/>
</head>
<body>
<div id="main-class-text">
    <!-- 主页大图 -->
    <div id="table-picture" style="background-image: url('../static/img/bk-10.jpg')"></div>
    <!-- 标题栏 -->
    <div class="head-one">
        <header class="am-topbar am-topbar-inverse am-topbar-fixed-top">
            <div class="am-container">
                <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse-4">
                    <ul class="am-nav am-nav-pills am-topbar-nav">
                        <a id="header-text" href="/">Seaguller的小窝~</a>
                        <li id="li-main">
                            <a href="/" class="header-a-main" id="header-a-main-one">
                                <span class="am-icon-home">&nbsp;首&nbsp;&nbsp;页</span>
                            </a>
                        </li>
                        <li id="li-archive"><a href="/archive" class="header-a-main" id="header-a-main-archive"><span class="am-icon-archive">&nbsp;归&nbsp;&nbsp;档</span></a></li>
                        <li id="li-update"><a href="/update" class="header-a-main" id="header-a-main-update"><span class="am-icon-calendar-plus-o">&nbsp;更&nbsp;&nbsp;新</span></a></li>
                        <li id="li-music"><a href="/music" class="header-a-main" id="header-a-main-music"><span class="am-icon-music">&nbsp;音乐馆</span></a></li>
                        <li id="li-message"><a href="#turn-head" class="header-a-main" id="header-a-main-message"><span class="am-icon-pencil">&nbsp;留言板</span></a></li>
                        <li id="li-friends"><a href="#turn-head" class="header-a-main" id="header-a-main-friends"><span class="am-icon-mars">&nbsp;后&nbsp;&nbsp;宫</span></a></li>
                        <li id="li-aboutMe"><a href="#turn-head" class="header-a-main" id="header-a-main-aboutMe"><span class="am-icon-paper-plane-o">&nbsp;关于俺</span></a></li>

                        <li id="li-login"><a href="/login" class="header-a-main" id="header-a-main-login"><span class="am-icon-hand-paper-o">&nbsp;登陆&nbsp;</span><span class="am-icon-hand-paper-o"></span></a></li>
                    </ul>
                </div>
            </div>
        </header>
    </div>
    <!-- 文字喵 -->
    <h1 id="headline" class="head-picture-font" >喵&nbsp;呜~&nbsp;喵&nbsp;帕&nbsp;斯~！</h1>
    <!-- 旋转小陀螺头像 -->
    <div class="head-sculpture"><img src="../static/img/maoer.gif" class="header-img-one"/></div>
    <!-- 指定页面跳转位置 -->
    <div id="turn-head"></div>

    <!-- 主体内容 -->
    <div id="art-list">
        <div class="register-title-line">
            <span class="tit">客官请进</span>
        </div>

        <form class="am-form"  method="post"  action="/registerUser" onsubmit="return toVaild()">
            <fieldset>
                <div class="am-form-group" id="form-name">
                    <label class="am-form-group-label" for="doc-ipt-name-1">昵称</label>
                    <input type="text" class="am-form-field am-round" id="doc-ipt-name-1" placeholder="取一个好听的名字叭" name="userName">
                    <div class="form-text-error" id="form-text-error-name"></div>
                    <span class="am-icon-check icon-success" id="icon-name-success"></span>
                </div>

                <div class="am-form-group" id="form-password">
                    <label class="am-form-group-label" for="doc-ipt-pwd-1">密码</label>
                    <input type="password" class="am-form-field am-round" id="doc-ipt-pwd-1" placeholder="保障加密措施哦（6-16个字符组成，区分大小写）" name="password">
                    <div class="form-text-error" id="form-text-error-password"></div>
                    <span class="am-icon-check icon-success" id="icon-password-success"></span>
                </div>

                <div class="am-form-group" id="form-phone">
                    <label class="am-form-group-label" for="doc-ipt-phone-1">手机</label>
                    <input type="text" class="am-form-field am-round" id="doc-ipt-phone-1" placeholder="请填写您的常用手机号" name="phone">
                    <div class="form-text-error" id="form-text-error-phone"></div>
                    <span class="am-icon-check icon-success" id="icon-phone-success"></span>
                </div>

                <div class="am-form-group" id="form-captcha">
                    <label class="am-form-group-label" for="doc-ipt-captcha-1">验证码</label>
                    <input type="text" class="am-form-field am-round" id="doc-ipt-captcha-1" placeholder="输入您收到的验证码哦" name="captcha">
                    <div class="form-text-error" id="form-text-error-captcha"></div>
                    <span class="am-icon-check icon-success" id="icon-captcha-success"></span>
                </div>
                <div class="group-getTest">
                    <button class="am-btn am-btn-secondary am-round" id="msg_btn" type="button">获取验证码</button>
                </div>

                <div class="radio_input am-form-group am-form-group-sex" style="margin: 0 0 10px auto">
                    <label class="am-radio-inline">
                        <input data-am-ucheck="" name="gender" type="radio" value="male" class="am-ucheck-radio" checked><span class="am-ucheck-icons"><i class="am-icon-unchecked"></i><i class="am-icon-checked"></i></span>
                        <span class="fa fa-mars fa-lg"></span>
                    </label>
                    <label class="am-radio-inline" style="margin-left: 40px">
                        <input data-am-ucheck="" name="gender" type="radio" value="female" class="am-ucheck-radio"><span class="am-ucheck-icons"><i class="am-icon-unchecked"></i><i class="am-icon-checked"></i></span>
                        <span class="fa fa-venus fa-lg"></span>
                    </label>
                </div>

                <input class="article-button article-btn am-btn am-btn-primary am-btn-sm am-fl no_submit" id="registerFormBtn" style="border-radius: 5px" type="submit" value="注 册">
                <input class="article-button article-btn am-btn am-btn-primary am-btn-sm am-fl no_submit" id="registerUpdateFormBtn" style="border-radius: 5px" type="button" value="已有账号，直接登录 >>">

            </fieldset>
        </form>
    </div>


    <div class="waifu ">
        <div class="waifu-tips" style="opacity:0"></div>
        <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
    </div>

</div>
<footer id="footer" class="footer">
    <hr/>
    <div class="footer-inner">
        <p>嘀嗒~ 嘀嗒~ 破壳 1000天50时20分01秒</p>
        <p>© 2018-2019 Seaguller - <i class="fa fa-heart throb" style="color:#d43f57"></i> 高博宇 版权所有</p>
        <p>蜀ICP备18000229号</p>
    </div>
</footer>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script>
<!-- 字体阴影特效 -->
<script type="text/javascript" src="../static/js/shine.min.js"></script>
<!-- 标题栏浮动隐藏JS -->
<script type="text/javascript" src="https://npmcdn.com/headroom.js@0.9.3/dist/headroom.min.js"></script>
<!-- 主页JS -->
<script src="../static/js/main.js" type="text/javascript"></script>
<script src="../static/js/register.js" type="text/javascript"></script>
<!-- 背景线条 -->
<script type="text/javascript" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>　

<script type="text/javascript" src="../static/live2d/js/live2d.js"></script>
<script type="text/javascript" src="../static/live2d/js/waifu.js"></script>
<script type="text/javascript">
    loadlive2d("live2d", "../static/live2d/model/kesshouban/model.json");
</script>
<script type="text/javascript">
    /* 微信翻转 */
    $(".fa-weixin").mouseover(function () {
        $(".card-weixin-divout").css("display", "block");
        $(".card-weixin-divin").css("display", "block");
        $("#weixin-img").css("display", "block");
    });
    $(".fa-weixin").mouseout(function () {
        $(".card-weixin-divout").css("display", "none");
        $(".card-weixin-divin").css("display", "none");
        $("#weixin-img").css("display", "none");
    });
</script>
</body>
</html>